annotated-types==0.7.0
arrow==1.3.0
asttokens==3.0.0
attrs==25.4.0
aws-sam-cli==1.145.1
aws-sam-translator==1.101.0
aws_lambda_builders==1.58.0
bash_kernel==0.10.0
binaryornot==0.4.4
blinker==1.9.0
boto3==1.40.55
boto3-stubs==1.40.50
botocore==1.40.55
botocore-stubs==1.40.55
certifi==2025.10.5
cffi==2.0.0
cfn-lint==1.40.2
chardet==5.2.0
charset-normalizer==3.4.4
chevron==0.14.0
click==8.1.8
comm==0.2.3
cookiecutter==2.6.0
cryptography==46.0.3
dateparser==1.2.2
debugpy==1.8.17
decorator==5.2.1
docker==7.1.0
executing==2.2.1
filetype==1.2.0
Flask==3.1.2
gitdb==4.0.12
GitPython==3.1.41
idna==3.11
ipykernel==7.0.1
ipython==9.6.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.9.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mpmath==1.3.0
mypy-boto3-apigateway==1.40.0
mypy-boto3-cloudformation==1.40.44
mypy-boto3-ecr==1.40.0
mypy-boto3-iam==1.40.0
mypy-boto3-kinesis==1.40.0
mypy-boto3-lambda==1.40.50
mypy-boto3-s3==1.40.26
mypy-boto3-schemas==1.40.19
mypy-boto3-secretsmanager==1.40.0
mypy-boto3-signer==1.40.55
mypy-boto3-sqs==1.40.35
mypy-boto3-stepfunctions==1.40.0
mypy-boto3-sts==1.40.0
mypy-boto3-xray==1.40.21
nest-asyncio==1.6.0
networkx==3.5
packaging==25.0
parso==0.8.5
pexpect==4.9.0
platformdirs==4.5.0
prompt_toolkit==3.0.52
psutil==7.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.23
pydantic==2.12.3
pydantic_core==2.41.4
Pygments==2.19.2
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
regex==2025.9.18
requests==2.32.5
rich==14.2.0
rpds-py==0.27.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.14
s3transfer==0.14.0
setuptools==75.6.0
six==1.17.0
smmap==5.0.2
stack-data==0.6.3
sympy==1.14.0
text-unidecode==1.3
tomlkit==0.13.3
tornado==6.5.2
traitlets==5.14.3
types-awscrt==0.28.1
types-python-dateutil==2.9.0.20251008
types-s3transfer==0.14.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.5.0
watchdog==4.0.2
wcwidth==0.2.14
Werkzeug==3.1.3
wheel==0.45.1
